<section>
    <div>
        <div>
            <p>+ Añadir Nueva Transacción</p>
        </div>
        <form>
            <div>
                <div>
                    <label>Tipo</label>
                    <input type="text" >
                </div>
                <div>
                    <label>Cantidad</label>
                    <input type="number" placeholder="0.00">
                </div>
            </div>
            <div>
                <label>Categoría</label>
                <input type="text">
            </div>
            <div>
                <label>Descripción</label>
                <input type="text" placeholder="Descripción de la transacción...">
            </div>
            <div>
                <button>
                    <img src="" alt="">
                    <p>Añadir</p>
                </button>
            </div>
        </form>
    </div>
</section>