<section>
    <div class="mx-4 sm:mx-20 my-8 grid grid-cols-4 gap-8">
        <div class="bg-white rounded-lg border-2 p-4 relative">
            <div>
                <p class="text-[16px] text-gray-500">Tasa de Ahorro</p>
                <img class="w-12 h-12 absolute right-4 top-1/2 transform -translate-y-1/2" src="assets/icons/graficoHaciaArribaVerde.png" alt="">
            </div>
            <div class="pt-3">
                <p class="text-2xl font-bold text-[#16a34a]">65.1%</p>
            </div>
        </div>
        <div class="bg-white rounded-lg border-2 p-4 relative">
            <div>
                <p class="text-[16px] text-gray-500">Gasto Diario Promedio</p>
                <img class="w-6 h-6 absolute right-4 top-1/2 transform -translate-y-1/2" src="assets/icons/euroAzul.png" alt="">
            </div>
            <div class="pt-3">
                <p class="text-2xl font-bold text-[#2563eb]">62€</p>
            </div>
        </div>
        <div class="bg-white rounded-lg border-2 p-4 relative">
            <div>
                <p class="text-[16px] text-gray-500">Patrimonio Neto</p>
                <img class="w-12 h-12 absolute right-4 top-1/2 transform -translate-y-1/2" src="assets/icons/graficoHaciaArribaVerde.png" alt="">
            </div>
            <div class="pt-3">
                <p class="text-2xl font-bold text-[#16a34a]">9000€</p>
            </div>
        </div>
        <div class="bg-white rounded-lg border-2 p-4 relative">
            <div>
                <p class="text-[16px] text-gray-500">Alertas</p>
                <img class="w-9 h-9 absolute right-4 top-1/2 transform -translate-y-1/2" src="assets/icons/alerta.png" alt="">
            </div>
            <div class="pt-3">
                <p class="text-2xl font-bold text-[#ea580c]">65.1%</p>
            </div>
        </div>
    </div>
</section>