<section>
    <div class="bg-white rounded-lg border-2 p-5 shadow sm:h-[500px]">
        <div class="text-2xl font-semibold mb-5">
            <p>Resumen por Categorías</p>
        </div>
        <div>
            @if(mostrarIngresos){
            <div class="border-2 rounded-lg p-2">
                <apx-chart
                    [series]="donutChartOptionsIngresos.series"
                    [chart]="donutChartOptionsIngresos.chart"
                    [labels]="donutChartOptionsIngresos.labels"
                    [legend]="donutChartOptionsIngresos.legend"
                    [dataLabels]="donutChartOptionsIngresos.dataLabels"
                    [tooltip]="donutChartOptionsIngresos.tooltip"
                    [title]="donutChartOptionsIngresos.title"
                    [plotOptions]="donutChartOptionsIngresos.plotOptions"
                    [colors]="donutChartOptionsIngresos.colors"
                    [responsive]="donutChartOptionsIngresos.responsive">
                </apx-chart>
                <div class="flex justify-end">
                    <button (click)="cambiarGrafico()" class="bg-red-600 w-30 sm:w-40 rounded-lg hover:bg-red-700 transition duration-300 ease-in-out">
                        <p class="text-white font-semibold p-2 sm:p-1 text-[13px] sm:text-[16px]">Ver Gastos</p>
                    </button>
                </div>
            </div>
        }
        @else {
            <div class="border-2 rounded-lg p-2">
                <apx-chart
                    [series]="donutChartOptionsGastos.series"
                    [chart]="donutChartOptionsGastos.chart"
                    [labels]="donutChartOptionsGastos.labels"
                    [legend]="donutChartOptionsGastos.legend"
                    [dataLabels]="donutChartOptionsGastos.dataLabels"
                    [tooltip]="donutChartOptionsGastos.tooltip"
                    [title]="donutChartOptionsGastos.title"
                    [plotOptions]="donutChartOptionsGastos.plotOptions"
                    [colors]="donutChartOptionsGastos.colors"
                    [responsive]="donutChartOptionsGastos.responsive">
                </apx-chart>
                <div class="flex justify-end">
                    <button (click)="cambiarGrafico()" class="bg-green-600 w-30 sm:w-40 rounded-lg hover:bg-green-700 transition duration-300 ease-in-out">
                        <p class="text-white font-semibold p-2 sm:p-1 text-[13px] sm:text-[16px]">Ver Ingresos</p>
                    </button>
                </div>
            </div>
        }
        </div>
    </div>
</section>