<section>
    <div class="bg-white rounded-lg border-2 shadow-lg mx-4 sm:mx-20 mb-8">
        <div class="flex items-center p-5 gap-2">
            <img class="w-6 h-6" src="/assets/icons/alerta.png" alt="">
            <p class="text-xl font-semibold">Gastos Inusuales Detectados</p>
        </div>
        @for(transaccion of transaccionesFiltradas; track transaccion.id){
            <div class="rounded-lg bg-[#FFF7ED] m-5 p-3 border-[#FED7AA] border-2">
                <div class="relative">
                    <p class="text-[16px] font-semibold">{{ transaccion.descripcion }}</p>
                    <p class="absolute right-1 top-[90%] transform -translate-y-1/2 font-bold text-[19px] text-[#EF740C]">{{ transaccion.cantidad }}€</p>
                </div>
                <div class="flex gap-2 text-[14px] text-gray-600">
                    <p class="capitalize">{{ transaccion.categoria }}</p>
                    <p>•</p>
                    <p>{{ transaccion.fecha_transaccion | date: 'd MMMM y' }}</p>
                </div>
            </div>
        }
    </div>
</section>