<section class="mx-4 sm:mx-20">
    <div class="grid grid-cols-6 text-center bg-gray-200 mt-8 rounded-lg">
        <div class="flex justify-center items-center p-2">
            <button class="flex flex-row rounded-lg">
                <img class="w-4 h-4 mt-2 ml-1" src="/assets/icons/dashboard.png" alt="">
                <p class="p-1">Dashboard</p>
            </button>
        </div>
        <div class="flex justify-center items-center p-2">
            <button class="flex flex-row">
                <img class="w-4 h-4 mt-2 ml-1" src="/assets/icons/transaccion.png" alt="">
                <p class="p-1">Transacciones</p>
            </button>
        </div>
        <div class="flex justify-center items-center p-2">
            <button class="flex flex-row">
                <img class="w-4 h-4" src="/assets/icons/calculadora.png" alt="">
                <p>Totales</p>
            </button>
        </div>
        <div class="flex justify-center items-center p-2">
            <button class="flex flex-row">
                <img class="w-4 h-4" src="/assets/icons/meta.png" alt="">
                <p>Metas</p>
            </button>
        </div>
        <div class="flex justify-center items-center p-2">
            <button class="flex flex-row">
                <img class="w-4 h-4" src="/assets/icons/analisis.png" alt="">
                <p>Análisis</p>
            </button>
        </div>
        <div class="flex justify-center items-center p-2">
            <button class="flex flex-row">
                <img src="" alt="">
                <p>Exportar</p>
            </button>
        </div>
    </div>
</section>