<section class="mx-4 sm:mx-20">
    <div class="flex justify-center items-center flex-col mt-8 mb-8 text-center">
        <p class="text-3xl sm:text-4xl font-bold">💰Gestor de Presupuesto Personal</p>
        <p class="text-gray-600">Controla tus finanzas y alcanza tus metas de ahorro</p>
    </div>
    <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-10 sm:gap-10">
        <div class="rounded-lg  border-2 border-[#C2F7D5] bg-gradient-to-br from-[#E5FCED] to-[#C2F7D5] hover:shadow-lg transition duration-300 ease-in-out">
            <div class="flex flex-row pl-5 pt-5 pb-3">
                <p class="font-semibold text-[#166534]">Ingresos mensuales</p>
                <img class="w-10 h-4 ml-auto pr-5" src="/assets/icons/flechaHaciaArriba.png" alt="">
            </div>
            <div class="pl-5">
                <p class="text-2xl font-bold text-[#14532D]">{{ingresosMensuales}}€</p>
            </div>
            <div class="pl-5 pb-5 pt-2">
                @if(variacionIngresos > 0) {
                    <p class="text-[13px] text-[#16A34A]">+{{variacionIngresos}}% desde el mes pasado</p>
                }
                @else {
                    <p class="text-[13px] text-[#16A34A]">{{variacionIngresos}}% desde el mes pasado</p>
                }
            </div>
        </div>
        <div class="rounded-lg border-2 border-[#FECACA] bg-gradient-to-br from-[#FEEAEA] to-[#ffd9d9] hover:shadow-lg transition duration-300 ease-in-out">
            <div class="flex flex-row pl-5 pt-5 pb-3">
                <p class="font-semibold text-[#991B1B]">Gastos mensuales</p>
                <img class="w-10 h-4 ml-auto pr-5" src="/assets/icons/flechaHaciaAbajo.png" alt="">
            </div>
            <div class="pl-5">
                <p class="text-2xl font-bold text-[#7F1D1D]">{{gastosMensuales}}€</p>
            </div>
            <div class="pl-5 pb-5 pt-2">
                @if(variacionGastos > 0){
                    <p class="text-[13px] text-[#DC2626]">+{{variacionGastos}}% desde el mes pasado</p>
                }
                @else {
                    <p class="text-[13px] text-[#DC2626]">{{variacionGastos}}% desde el mes pasado</p>
                }
            </div>
        </div>
        <div class="rounded-lg  border-2 border-[#BFDBFE] bg-gradient-to-br from-[#E5F0FE] to-[#c5ddff] hover:shadow-lg transition duration-300 ease-in-out">
            <div class="flex flex-row pl-5 pt-5 pb-3">
                <p class="font-semibold text-[#1E40AF]">Balance mensual</p>
                <img class="w-10 h-4 ml-auto pr-5" src="/assets/icons/euro.png" alt="">
            </div>
            <div class="pl-5">
                <p class="text-2xl font-bold text-[#14532D]">{{balanceMensual}}€</p>
            </div>
            <div class="pl-5 pb-5 pt-2">
                @if(ingresosMensuales - gastosMensuales > 0) {
                    <p class="text-[13px] text-[#4A63EC]">Superávit este mes</p>
                }
                @else {
                    <p class="text-[13px] text-[#4A63EC]">Déficit este mes</p>
                }
            </div>
        </div>
        <div class="rounded-lg  border-2 border-[#E9D5FF] bg-gradient-to-br from-[#F6EFFF] to-[#e2cdfc] hover:shadow-lg transition duration-300 ease-in-out">
            <div class="flex flex-row pl-5 pt-5 pb-3">
                <p class="font-semibold text-[#6B21A8]">Tasa de ahorro</p>
                <img class="w-10 h-4 ml-auto pr-5" src="/assets/icons/graficaHaciaArriba.png" alt="">
            </div>
            <div class="pl-5">
                <p class="text-2xl font-bold text-[#581C87]">{{tasaAhorroMensual}}%</p>
            </div>
            <div class="pl-5 pb-5 pt-2">
                <p class="text-[13px] text-[#9333EA]">Meta: 20%</p>
            </div>
        </div>
    </div>
</section>